<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="kr.ac.sunmoon.mrs.review.ReviewMapper">

	<insert id="addReview" parameterType="kr.ac.sunmoon.mrs.agent.Review">
		INSERT INTO REVIEW
			VALUES(
				REVIEW_SEQ.NEXTVAL,
				#{memberId},
				#{movieSeq},
				#{reviewComment},
				SYSDATE	
			)
	</insert>
	
	<update id="updateReivew" parameterType="kr.ac.sunmoon.mrs.agent.Review">
		UPDATE REIVEW
			SET
				REVIEW_COMMENT = #{reviewComment},
				REVIEW_POST_DATE = SYSDATE
			WHERE
				REVIEW_SEQ = #{reviewSeq}
	</update>
	
	<delete id="deleteReivew" parameterType="kr.ac.sunmoon.mrs.agent.Review">
		DELETE FROM
			REVIEW
		WHERE
			REVIEW_SEQ = #{reviewSeq}
	</delete>
	
	<select id="selectReview" resultType = "kr.ac.sunmoon.mrs.agent.Review">
		SELECT
			REVIEW_SEQ,
			MEMBER_ID,
			MOVIE_SEQ,
			REVIEW_COMMENT,
			REVIEW_POST_DATE
		FROM
			REVIEW
		WHERE
			REVIEW_SEQ = #{reviewSeq}
	</select>
	
	<select id="selectReviewAll" parameterType="kr.ac.sunmoon.mrs.agent.Review" resultType= "kr.ac.sunmoon.mrs.agent.Review">
		SELECT
			REVIEW_SEQ,
			MEMBER_ID,
			MOVIE_SEQ,
			REVIEW_COMMENT,
			REVIEW_POST_DATE
		FROM
			REVIEW
		WHERE
			MOVIE_SEQ = #{movieSeq}
		ORDER BY REVIEW_POST_DATE
	</select>
	
	
</mapper>