<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.sunmoon.mrs.member.MemberMapper">
	<select id="selectMember" parameterType="kr.ac.sunmoon.mrs.agent.Member" resultType="kr.ac.sunmoon.mrs.agent.Member">
		SELECT
		     MEMBER_ID
		    ,MEMBER_PASSWORD
		    ,MEMBER_NAME
		    ,MEMBER_AGE
		    ,MEMBER_GENDER
		    ,MEMBER_STATE
		FROM 
			 MEMBER
		WHERE 
			 MEMBER_ID=#{memberId}
	</select>
	
	<select id="selectMemberAll" resultType="kr.ac.sunmoon.mrs.agent.Member">
		SELECT
			 MEMBER_ID
		    ,MEMBER_PASSWORD
		    ,MEMBER_NAME
		    ,MEMBER_AGE
		    ,MEMBER_GENDER
		    ,MEMBER_STATE
		FROM
			MEMBER
	</select>
	
	<insert id="insertMember" parameterType="kr.ac.sunmoon.mrs.agent.Member">
		INSERT INTO 
			MEMBER
		VALUES(
			#{memberId}
		   ,#{memberPassword}
		   ,#{memberName}
		   ,#{memberAge}
		   ,#{memberGender}
		   ,'A')
	</insert>
	
	<update id="updateMember" parameterType="kr.ac.sunmoon.mrs.agent.Member">
		UPDATE
			MEMBER
		SET
			MEMBER_PASSWORD=#{memberPassword}
		   ,MEMBER_NAME=#{memberName}
		   ,MEMBER_AGE=#{memberAge}
		   ,MEMBER_GENDER=#{memberGender}
		WHERE 
			MEMBER_ID=#{memberId}
	</update>
	
	<update id="deleteMember" parameterType="kr.ac.sunmoon.mrs.agent.Member">
		UPDATE
			MEMBER
		SET
			MEMBER_STATE='C'
		WHERE 
			MEMBER_ID=#{memberId}
	</update>
</mapper>