<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.sunmoon.mrs.movie.MovieMapper">
	<select id="selectMovie"  parameterType="kr.ac.sunmoon.mrs.agent.Movie" 
							  resultType="kr.ac.sunmoon.mrs.agent.Movie" >
		SELECT
		    MOVIE_SEQ,
		    TITLE,
		    RELEASE_DATE,
		    SYNOPSIS,
		    FILM_AGE,
		    DIRECT_COUNTRY,
		    RUNNING_TIME,
		    DOWNLOAD_LINK,
		    GENRE_FIRST,
		    GENRE_SECOND,
		    VISIT_COUNT,
		    DIRECTOR_SEQ
		FROM 
			 MOVIE
		WHERE 
			 MOVIE_SEQ = #{movieSeq}
	</select>
	
	<update id="updateView" parameterType="kr.ac.sunmoon.mrs.agent.Movie">
		UPDATE MOVIE
		<set>
			VISIT_COUNT = #{visitCount} + 1
		</set> 
		WHERE 
			MOVIE_SEQ = #{movieSeq}
	</update>
	
	<select id="selectMovieAll" resultType="kr.ac.sunmoon.mrs.agent.Movie" >
		SELECT
		    MOVIE_SEQ,
		    TITLE,
		    RELEASE_DATE,
		    SYNOPSIS,
		    FILM_AGE,
		    DIRECT_COUNTRY,
		    RUNNING_TIME,
		    DOWNLOAD_LINK,
		    GENRE_FIRST,
		    GENRE_SECOND,
		    VISIT_COUNT,
		    DIRECTOR_SEQ
		FROM 
			MOVIE
	</select>
	
	<insert id="insertMovie" parameterType="kr.ac.sunmoon.mrs.agent.Movie" >
		INSERT INTO MOVIE(
			MOVIE_SEQ,
		    TITLE,
		    SYNOPSIS,
		    FILM_AGE,
		    DIRECT_COUNTRY,
		    RUNNING_TIME,
		    DOWNLOAD_LINK,
		    GENRE_FIRST,
		    GENRE_SECOND,
		    RELEASE_DATE,
		    DIRECTOR_SEQ )
		VALUES (
			MOVIE_SEQ.NEXTVAL,
			#{title}, 
			#{synopsis}, 
			#{filmAge}, 
			#{directCountry},
			#{runningTime},
			#{downloadLink},
			(SELECT GENRE_CODE FROM GENRE WHERE GENRE = #{genreFirst}),
			(SELECT GENRE_CODE FROM GENRE WHERE GENRE = #{genreSecond}),
			#{releaseDate},
			11 )
	</insert>
	
	<update id="updateMovie" parameterType="kr.ac.sunmoon.mrs.agent.Movie">
		UPDATE MOVIE
		<set>
			<if test="movieSeq != null">
				MOVIE_SEQ = #{movieSeq},
			</if>
			<if test="title != null">
				TITLE = #{title},
			</if>
			<if test="releaseDate != null">
				RELEASE_DATE = #{releaseDate},
			</if>
			<if test="synopsis != null">
				SYNOPSIS = #{synopsis},
			</if>
			<if test="filmAge != null">
				FILM_AGE = #{filmAge},
			</if>
			<if test="directCountry != null">
				DIRECT_COUNTRY = #{directCountry},
			</if>
			<if test="runningTime != null">
				RUNNING_TIME = #{runningTime},
			</if>
			<if test="downloadLink != null">
				DOWNLOAD_LINK = #{downloadLink},
			</if>
			<if test="genreFirst != null">
				#{genreFirst},
			</if>
			<if test="genreSecond != null">
				#{genreSecond},
			</if>
			<if test="directorSeq != null">
				DIRECTOR_SEQ = #{directorSeq}
			</if>
		</set> 
		WHERE 
			MOVIE_SEQ = #{movieSeq}
	</update>
	
	<delete id="deleteMovie" parameterType="kr.ac.sunmoon.mrs.agent.Movie">
		DELETE FROM MOVIE
		WHERE MOVIE_SEQ = #{movieSeq}
	</delete>
	
	<select id="selectRankRecently" resultType="kr.ac.sunmoon.mrs.agent.Movie" >
		SELECT
		    MOVIE_SEQ,
		    TITLE,
		    RELEASE_DATE,
		    SYNOPSIS,
		    FILM_AGE,
		    DIRECT_COUNTRY,
		    RUNNING_TIME,
		    DOWNLOAD_LINK,
		    GENRE_FIRST,
		    GENRE_SECOND,
		    VISIT_COUNT,
		    DIRECTOR_SEQ
		FROM 
			(SELECT
				MOVIE_SEQ,
		    	TITLE,
		    	RELEASE_DATE,
		    	SYNOPSIS,
		    	FILM_AGE,
		    	DIRECT_COUNTRY,
		    	RUNNING_TIME,
		    	DOWNLOAD_LINK,
		    	GENRE_FIRST,
		    	GENRE_SECOND,
		    	VISIT_COUNT,
		    	DIRECTOR_SEQ
		     FROM MOVIE
		     ORDER BY RELEASE_DATE DESC)
		WHERE
			MOVIE_SEQ = #{movieSeq}
	</select>
	
	<select id="selectRankView" resultType="kr.ac.sunmoon.mrs.agent.Movie" >
		SELECT
		    MOVIE_SEQ,
		    TITLE,
		    RELEASE_DATE,
		    SYNOPSIS,
		    FILM_AGE,
		    DIRECT_COUNTRY,
		    RUNNING_TIME,
		    DOWNLOAD_LINK,
		    GENRE_FIRST,
		    GENRE_SECOND,
		    VISIT_COUNT,
		    DIRECTOR_SEQ
		FROM 
			(SELECT
				MOVIE_SEQ,
		    	TITLE,
		    	RELEASE_DATE,
		    	SYNOPSIS,
		    	FILM_AGE,
		    	DIRECT_COUNTRY,
		    	RUNNING_TIME,
		    	DOWNLOAD_LINK,
		    	GENRE_FIRST,
		    	GENRE_SECOND,
		    	VISIT_COUNT,
		    	DIRECTOR_SEQ
		     FROM MOVIE
		     ORDER BY VISIT_COUNT DESC)
		WHERE
			MOVIE_SEQ = #{movieSeq}
	</select>
</mapper>