<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.sunmoon.mrs.friend.FriendMapper">	
	<select id="selectFriendAll" resultType="kr.ac.sunmoon.mrs.agent.Friend" >
		SELECT
			FRIEND_SEQ,
			RECEIVED_MEMBER
		FROM 
			 FRIEND
		WHERE
			 REQUEST_MEMBER = 'sol'
	</select>
	
	<insert id="insertFriend" parameterType="kr.ac.sunmoon.mrs.agent.Friend" >
		INSERT INTO FRIEND(
			FRIEND_SEQ,
			REQUEST_MEMBER,
			RECEIVED_MEMBER,
			FRIEND_STATE)
		VALUES (
			#{friendSeq}, 
			#{requestMember}, 
			#receivedMember}, 
			#{friendState} )
	</insert>
	
	<delete id="deleteFriend" parameterType="kr.ac.sunmoon.mrs.agent.Friend" >
		DELETE FROM FRIEND
		WHERE FRIEND_SEQ = #{friendSeq}
	</delete>
</mapper>